<section>
    <h1 class="component-h1">Technical Skills</h1>
    <hr>
    <div fxLayout="column" fxLayoutGap="10px">
        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>Angular CLI</h2>
            <div class="back-stars">
                <div class="stars stars-red threePointFiveStar"></div>
            </div>
        </article>
        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>HTML 5</h2>
            <div class="back-stars">
                <div class="stars stars-blue threePointFiveStar"></div>
            </div>
        </article>
        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>CSS 3</h2>
            <div class="back-stars">
                <div class="stars stars-green threePointFiveStar"></div>
            </div>
        </article>

        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>Jest.ts</h2>
            <div class="back-stars">
                <div class="stars stars-grey threePointFiveStar"></div>
            </div>
        </article>

        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>Typescript</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </article>

        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>Docker</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </article>

        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>Git/Scm</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </article>


        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>Laravel</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </article>


        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>Coldfusion</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </article>

        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>MySql</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </article>

        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>Node</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </article>

        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>AWS Services</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </article>

        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>Kafka</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </article>

        <article fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>Angilar Material Library</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </article>

        <div fxLayout="row" fxLayoutAlign="center end">
            <h2 fxFlex>PHP</h2>
            <div class="back-stars">
                <div class="stars stars-yellow threePointFiveStar"></div>
            </div>
        </div>
    </div>


</section>
