<section>

    <div fxLayout="row" fxLayoutGap="3em">

        <article fxFlex fxLayout="column" fxLayoutAlign="center center">
            <div class="me-img" fxLayout="column" fxLayoutAlign="center center">
                <img style="width:100%; max-width:165px; height:auto;" src="/assets/img/intergral.png" alt="">
            </div>
            <h3>Software Engineer</h3>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                <h4>3 Years (Since 2016)</h4>
            </div>
        </article>

        <!--<article fxFlex fxLayout="column">-->
            <!--<div class="me-img">-->
                <!--<img src="/assets/img/dcfc.svg" alt="">-->
            <!--</div>-->
            <!--<h3>Links Awakening</h3>-->
            <!--<div fxFlex fxLayout="column" fxLayoutAlign="center center">-->
                <!--<h4>Now Playing</h4>-->
            <!--</div>-->
        <!--</article>-->

        <article fxFlex fxLayout="column">
            <div class="me-img">
                <img src="/assets/img/bw.svg" alt="">
            </div>
            <h3>Lebte in Deutschland</h3>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                <h4>Zwei jahre in BW</h4>
            </div>
        </article>

        <article fxFlex fxLayout="column">
            <div class="me-img">
                <img src="/assets/img/dcfc.svg" alt="">
            </div>
            <h3>Derby County Fan</h3>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                <h4>Football</h4>
            </div>
        </article>


        <article fxFlex fxLayout="column" fxLayoutAlign="center center">
            <div class="me-img" fxLayout="row" fxLayoutAlign="center center">
                <img style="" src="/assets/img/switch.svg" alt="">
            </div>
            <h3>Zelda: Links Awakening</h3>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                <h4>Now Playing</h4>
            </div>
        </article>

    </div>

</section>
