<section class="collab-section">
    <div class="collab-top" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="component-h1">Billing with Laravel and Angular</h1>

        <p class="promo-p">A user interface and api to begin and manage your subscription to nerd.vision, Utilising Laravel, Angular and Stripe</p>

        <div fxLayoutGap="45px">
            <button mat-raised-button routerLink="/portfolio" class="mat-button big-button">See Portfolio</button>
            <button mat-raised-button routerLink="/portfolio" class="mat-button big-button">View Project</button>
        </div>
    </div>

    <div fxLayoutAlign="center center">
        <div class="trello-board-container">
            <img class="trello_board" src="/assets/img/trello_board.png" alt="">
        </div>
    </div>

</section>
