<!--<div class="step-header">-->
    <!--<h1 class="component-h1">Badges</h1>-->
<!--</div>-->

<!--<div style="background:#e1e2e1; padding:4em;">-->
<div style="padding: 2.2em 4em;">

    <div fxLayout="row" fxLayoutGap="2em">

        <section fxFlex style="background: #f5f5f6;">
            <div fxLayout="row">
                <div fxFlex fxLayout="column" fxLayoutAlign="center start">
                    <h1 class="first-class">Mistakes were made..</h1>
                    <h2 class="bsc">Derby County Fan</h2>
                    <h3 class="awarded">SUFFERING SINCE JULY 2008</h3>
                </div>
                <div fxFlex="200px">
                    <img style="width:100%;" src="/assets/img/DCFC.svg" alt="">
                </div>
            </div>
        </section>

        <section fxFlex style="background: #f5f5f6;">
            <div fxLayout="row">
                <div fxFlex fxLayout="column" fxLayoutAlign="center start">
                    <h1 class="first-class">Mistakes were made..</h1>
                    <h2 class="bsc">Derby County Fan</h2>
                    <h3 class="awarded">SUFFERING SINCE JULY 2008</h3>
                </div>
                <div fxFlex="200px">
                    <img style="width:100%;" src="/assets/img/DCFC.svg" alt="">
                </div>
            </div>
        </section>

    </div>

    <!--<button mat-raised-button class="mat-button">kfdsj</button>-->

</div>
