<section class="posts-overview">

    <header fxLayout="row">
        <div fxFlex>
            <h1 class="component-h1"><span>From the Team:</span></h1>
        </div>
        <div fxLayoutAlign="end center">
            <button mat-button class="contact-button"><span>View All</span></button>
        </div>
    </header>


    <div fxLayout="row">

        <article fxFlex>
            <div class="post-img-container" fxLayout="column" fxLayoutAlign="center center">
                <span class="new-post">NEW</span>
                <img src="https://www.stowmarkettownfc.co.uk/img/stmtfc/67248804_2406903059356206_543133274965278720_n.jpg" alt="">
            </div>
            <div fxLayout="column" class="article-content">
                <h2>Give us your feedback, we want to improve! </h2>
                <div fxFlex>
                    <p>fdslkfjdslkfj sdkfj dksfj mdnfnk kdsf</p>
                </div>
                <div>
                    <span>2 days ago</span>
                </div>
            </div>
            <a class="hovered" routerLink="post"></a>
        </article>

        <article fxFlex>
            <a class="hovered" routerLink="post"></a>
            <div class="post-img-container" fxLayout="column" fxLayoutAlign="center center">
                <img src="https://www.stowmarkettownfc.co.uk/img/stmtfc/img_6851.jpg" alt="">
            </div>
            <div fxLayout="column" class="article-content">
                <h2>Be our first client, reap rewards!</h2>
                <div fxFlex>
                    <p>fdslkfjdslkfj sdkfj dksfj mdnfnk kdsf</p>
                </div>
                <div>
                    <span>2 days ago</span>
                </div>
            </div>
        </article>

        <article fxFlex>
            <a class="hovered" routerLink="post"></a>
            <div class="post-img-container" fxLayout="column" fxLayoutAlign="center center">
                <img src="https://www.stowmarkettownfc.co.uk/img/stmtfc/facup.jpg" alt="">
            </div>
            <div fxLayout="column" class="article-content">
                <h2>Hello Toucan!</h2>
                <div fxFlex>
                    <p>fdslkfjdslkfj sdkfj dksfj mdnfnk kdsf</p>
                </div>
                <div>
                    <span>2 days ago</span>
                </div>
            </div>
        </article>

        <!--<article fxFlex>-->
            <!--<a class="hovered" routerLink="post"></a>-->
            <!--<div class="post-img-container" fxLayout="column" fxLayoutAlign="center center">-->
                <!--<img src="https://www.placehold.it/300x300" alt="">-->
            <!--</div>-->
            <!--<div class="article-content">-->
                <!--<h2>SOUP</h2>-->
                <!--<p>fdslkfjdslkfj sdkfj dksfj mdnfnk kdsf</p>-->
            <!--</div>-->
        <!--</article>-->

    </div>

</section>
