section{
  background:#f5f5f6;
  padding:2em 4.5em;
}
.bsc{
  font-size:46px;
  margin:8px 0px;
  color:#102027;
}
.first-class{
  color:#ed6e44;
  //color:#e31535;
  font-family: 'Staatliches', cursive;
  font-weight:normal;
  font-size:24px;
}
.awarded{
  color: #767878;
}
.mini-cont{
  //background:#e31535;
}
