<section fxLayoutAlign="center">
    <div class="mini-cont" fxFlex fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="center start">
            <h2 class="first-class">First Class Honors Degree</h2>
            <h1 class="bsc">BSc Web Development</h1>
            <h3 class="awarded">AWARDED JULY 2016</h3>
        </div>
        <div fxFlex="190px">
            <img style="width:100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Staffordshire_University_Logo.svg/2880px-Staffordshire_University_Logo.svg.png" alt="">
        </div>
    </div>
</section>

