
<mat-sidenav-container>

    <mat-sidenav position="end" style="width:60%;" #sideBar role="navigation">
            <app-sidenav fxFlex [sideNavigation]="sideBar"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>

        <app-header [sideNavigation]="sideBar"></app-header>

        <main>
            <router-outlet></router-outlet>
            <button mat-button class="mat-button" (click)="sideBar.open()">sldfk</button>
        </main>

        <app-footer></app-footer>

    </mat-sidenav-content>

</mat-sidenav-container>


