/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, main{
  height: 100%;
}
html{
  background:#202124;
}
body{

}

.mat-drawer-container {
  background:transparent;
}

*{
  font-family: 'Roboto', 'Open Sans' ,sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:#f5f5f6;
  margin:0px;
}
a{
  color: #ed6e44;
}
section{
  padding:2.5em;
}
.component-h1{
  font-size: 35px;
  margin-bottom:1em;
}
h1, h1 span{
  color:#f5f5f6;
  font-family: 'Staatliches', cursive;
  font-weight: normal;
}
h2{
  color:#f5f5f6;
}

h3 span{
  color:#f5f5f6;
}
mat-icon{
  color:#f5f5f6;
}
.full-height{
  height:100vh;
}
.mat-button{
  background: #ed6e44;
  padding:7.5px 10px;
  span{
    font-size:16px;
    color:#fff;
  }

}

.big-button{
    span{
      font-weight: bold;
    }
    background:#e35838;
    border:solid 3px #e35838 !important;
    border-radius: 0px !important;
}

mat-tab-body{
  padding:1.5em 0em;
}
.mat-tab-label-content{
  color:#161c25;
}
p{
  font-size:19px;
  line-height:35px;
}

.promo-p{
  text-align:center;
  margin: 30px auto;
  max-width:600px;
}

$starsWidth: 300px;
$starsHeight: 60px;
$negStarsWidth: -300px;
$negStarsHeight: -60px;

.stars, .back-stars{
  width:$starsWidth;
  height:$starsHeight;
  display: block;
}
.pointFiveStar{
  width: $starsWidth / 10;
}
.oneStar{
  width: $starsWidth / 5;
}
.onePointFiveStar{
  width: $starsWidth / 3.33333;
}
.twoStar{
  width: $starsWidth / 2.5;
}
.twoPointFiveStar{
  width: $starsWidth / 2;
}
.threeStar{
  width: $starsWidth / 1.66;
}
.threePointFiveStar{
  width: ($starsWidth / 1.42857);
}
.fourStar{
  width: $starsWidth / 1.25;
}
.fourPointFiveStar{
  width: $starsWidth / 1.1111111;
}
.fiveStar{
  width: $starsWidth / 1;
}

.back-stars{
  background: url('/assets/img/star.svg');
  background-size:$starsHeight auto;
  background-position: 0px $negStarsWidth;
}
.stars{
  background: url('/assets/img/star.svg');
  background-size:$starsHeight auto;
}
.stars-green{
  background-position: 0px -1px;
}
.stars-orange{
  background-position: 0px ($starsHeight * -1);
}
.stars-red{
  background-position: 0px ($starsHeight * -2);
}
.stars-purple{
  background-position: 0px ($starsHeight * -3);
}
.stars-blue{
  background-position: 0px ($starsHeight * -4);
}
.stars-grey{
  background-position: 0px ($starsHeight * -5);
}
.stars-yellow{
  background-position: 0px ($starsHeight * -6);
}

